<%- include("partials/header.ejs") %>
<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic">Welcome to Healthy Insights</h1>
          <p class="lead my-3">"At Healthy Insights, we're dedicated to providing the most current and reliable information in the health and medical sector. Our platform is designed to empower bloggers, healthcare professionals, and anyone interested in making informed decisions about health and wellness. Explore our site to find insightful articles, expert opinions, and up-to-date research that cater to your passion for the medical field."</p>
          <p class="lead mb-0"><a href="/list-blogs" class="text-body-emphasis fw-bold">Continue reading...</a></p>
        </div>
      </div>
</div>




<!-- PART TWO -->


  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6 responsive">
          <img src="images/latest_articles.jpg" class="d-block mx-lg-auto img-fluid custom-img-shadow" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Latest Articles</h1>
          <p class="lead">Stay on top of the latest trends in health and medicine with our carefully curated articles. From groundbreaking medical research to practical wellness tips, our content is designed to inform and inspire you. Whether you're a seasoned blogger or just starting out, our articles will provide you with the knowledge and insight you need to write compelling and informative blog posts.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/list-blogs"  class="btn btn-primary btn-lg px-4 me-md-2" >Latest Blogs</a>
          </div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row flex-lg-row align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6 responsive">
          <img src="images/image2.jpg" class="d-block mx-lg-auto img-fluid custom-img-shadow " alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Expert Opinions and Interviews</h1>
          <p class="lead">Gain unique perspectives from leading experts in the medical field. Our expert opinion section features interviews with healthcare professionals, researchers, and thought leaders who share their insights on various health topics. These conversations offer a deeper understanding of the issues shaping the future of medicine and provide valuable content for your blog.</p>
          
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-10 col-sm-8 col-lg-6 responsive">
          <img src="images/image3.jpg" class="d-block mx-lg-auto img-fluid custom-img-shadow" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Resources for Bloggers</h1>
          <p class="lead">We know that creating high-quality content can be challenging, especially in the medical field. That's why we've compiled a list of resources to help you succeed. From writing tips and SEO strategies to ethical guidelines and citation tools, our resources will help you craft accurate and engaging blog posts that resonate with your audience.</p>
          
        </div>
      </div>
  </div>


  


<%- include("partials/footer.ejs") %>